publish/src/main/mule/assessment2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cc04afda-4cc4-47bb-8b6d-53d11433bc3c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="eff1a1ae-06c5-46ef-9631-12f82c40ec6b" >
		<file:connection workingDir="E:\" />
	</file:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="7f0ad1fb-2700-4abc-9f46-0c4fc185c2a0" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="PublishFlow" doc:id="6909d0c8-9ba8-4153-b3d0-062872aa1b1a" >
		<http:listener doc:name="Listener" doc:id="c914e2cd-24d8-4b3d-b655-2e244b0f2dc7" config-ref="HTTP_Listener_config" path="/ABCD_info_systems"/>
		<file:read doc:name="Read" doc:id="0f4ef8ae-3389-4336-b0f7-59423729b557" config-ref="File_Config" path="SalesJan2009.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="a8fcb260-359b-4a6c-aa16-5325f9fceedd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8ad85c4d-9fc9-438f-8cff-4914292c95cb" message="#[payload]"/>
		<jms:publish doc:name="Publish" doc:id="09f49ff1-766e-49df-955b-a4c72785add8" config-ref="JMS_Config" destination="app_queue" />
	</flow>
</mule>
